!!!
%html
  %head
    %title Amubos&eacute; &mdash; Simple Multiple Amazon Searches
    %link{ :href => "http://fonts.googleapis.com/css?family=Cabin:400,400italic,500,500italic,600,600italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css" }
    = stylesheets
    %script{ :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js", :type => "text/javascript"}
    = javascripts(:app, :isbn)
    :javascript
      $(document).ready(function() {
        $("textarea").focus(function() {
          if ($(this).val() == "#{ @textvalue }") {
            $(this).val("");
            $(this).toggleClass("edited", true);
          }
        })
        .blur(function() {
          if ($(this).val() == "" || $(this).val() == "#{ @textvalue }") {
            $(this).val("#{@textvalue}");
            $(this).toggleClass("edited", false);
          }
        });
        $(":submit").click(go);
        $("a[href='#']").click(function() {
          $("#instructions").slideToggle();
        });
      });
  %body
    %h1#logo amubos&eacute;
    = yield
    #footer
      %p By Luke Seelenbinder, another venture into javascript and typography
    :plain
      <script type="text/javascript">
      var sc_project=6879667;
      var sc_invisible=1;
      var sc_security="358e0ca9";
      </script>
      <script type="text/javascript"
      src="http://www.statcounter.com/counter/counter.js"></script>
      <noscript><div class="statcounter"><a title="tumblr hit counter"
      href="http://statcounter.com/tumblr/" target="_blank"><img
      class="statcounter" src="http://c.statcounter.com/6879667/0/358e0ca9/1/"
      alt="tumblr hit counter"></a></div></noscript>
